$calendas-path: "/font/calendas-plus-";
$weights: 400, 700;

@each $weight in $weights {
	@font-face {
		font-family: "Calendas Plus";
		src: url("#{$calendas-path}#{$weight}-webfont.woff2") format("woff2");
		font-weight: $weight;
		font-style: normal;
		font-display: swap;
	}
}

@font-face {
	font-family: "Calendas Plus";
	src: url("#{$calendas-path}400-italic-webfont.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
