---
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>Astro + TailwindCSS</title>
	</head>

	<body>
		<div class="grid place-items-center h-screen content-center">
			<a href="/markdown-page" class="p-4 underline"
				>Markdown is also supported...</a
			>
		</div>
	</body>
</html>
