---
import BaseHead from "@components/BaseHead.astro";

const title = "Education Alchemist";
const description =
	"I’m not interested in transforming iron into gold, nor am I searching for a fountain of youth. What compels my quest is the alchemy of the soul.";

const links = [
	{
		label: "Email Me",
		href: "mailto:emichaelg@querus.io",
	},
	{
		label: "Text Me 321.549.8656",
		href: "tel:+13215498656"
	},
	{
		label: "Facilitator, MensLiving",
		href: "https://menliving.org/meet-the-facilitators/",
	},
];
---

<html lang="en" class="bg-[#FEFAFB]">
	<head>
		<BaseHead {title} {description} />
	</head>
	<body class="font-serif text-[#3B586A]">
		<div class="grid place-items-center h-screen content-center space-y-[25px] text-center">
			<div class="w-[250px] h-[250px] object-contain">
				<img src="/querus.png" alt="Querus logo" loading="eager">
			</div>
			<h1 class="text-[64px] leading-[72px] font-bold uppercase pt-[25px]">
				Michael G. Eatmon
			</h1>
			<p class="small-caps text-[32px] leading-[36px]">education alchemist</p>
			<ul role="list" class="flex flex-col gap-y-[25px] w-full max-w-[420px] pt-[25px] pb-[75px]">
				{links.map((link) =>
					<li>
						<a class="block text-xl bg-[#5B826D] active:bg-opacity-75 focus:bg-opacity-75 hover:bg-opacity-75 text-white p-[30px] leading-none rounded transition-colors duration-300 ease-in-out" href={link.href}>
							<span class="ornm" aria-hidden="true">C</span>
							{link.label}
							<span class="ornm" aria-hidden="true">C</span>
						</a>
					</li>
				)}
			</ul>
			<blockquote class="text-xl italic">
				<p>
					<span class="small-caps">A faithful</span> friend<br/>
					is an elixir of life.<br/>
				</p>
				<cite>— Sirach</cite><br/>
				*&emsp;*&emsp;*
			</blockquote>
		</div>
	</body>
</html>

<style>
	html {
		font-feature-settings: "dlig" on;
	}

	.small-caps {
		font-feature-settings: "smcp" on;
	}

	.ornm {
		font-feature-settings: "ornm" on;
	}
</style>
